<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [routerLink]="'/'" class="nav-link active" aria-current="page">TokenConfiguration</a>
          <a [routerLink]="'/entityExtraction'" class="nav-link active" aria-current="page">EntityExtraction</a>
          <a [routerLink]="'/textSimilarity'" class="nav-link active" aria-current="page">TextSimilarity</a>
          <a [routerLink]="'/languageDetection'" class="nav-link active" aria-current="page">LanguageDetection</a>
          <a [routerLink]="'/sentimentAnalysis'" class="nav-link active" aria-current="page">SentimentAnalysis</a>
          <a [routerLink]="'/apiHistory'" class="nav-link active" aria-current="page">ApiHistory</a>
        </div>
<!--        <div class="d-flex">-->
<!--          <span>{{ getUserName() }}</span>-->
<!--        </div>-->
      </div>
    </div>
  </nav>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
